@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Medium.woff2') format('woff2'),
        url('SourceCodePro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-ExtraLightIt.woff2') format('woff2'),
        url('SourceCodePro-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-BoldIt.woff2') format('woff2'),
        url('SourceCodePro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-MediumIt.woff2') format('woff2'),
        url('SourceCodePro-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-It.woff2') format('woff2'),
        url('SourceCodePro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Black.woff2') format('woff2'),
        url('SourceCodePro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-SemiboldIt.woff2') format('woff2'),
        url('SourceCodePro-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Semibold.woff2') format('woff2'),
        url('SourceCodePro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Light.woff2') format('woff2'),
        url('SourceCodePro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-LightIt.woff2') format('woff2'),
        url('SourceCodePro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Regular.woff2') format('woff2'),
        url('SourceCodePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Bold.woff2') format('woff2'),
        url('SourceCodePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-ExtraLight.woff2') format('woff2'),
        url('SourceCodePro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-BlackIt.woff2') format('woff2'),
        url('SourceCodePro-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

