/node_modules
/packages/*/node_modules
/packages/*/dist

/packages/electron/Deepkit-*
/packages/server/libs/*.tar.gz

/.links.json
/docker-build
/Dockerfile
/.dockerignore
/releases
/examples
/build
/coverage
/Jenkinsfile
/.dockerignore
/.travis.yml
/.nvmrc
/.editorconfig
/tmp
/package-lock.json
/.idea
/.DS_Store
.links.json
