:host {
    display: block;
}

.wrapper.main {
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-between;
}

markdown {
    font-size: 14px;
}

.branch {
    user-select: none;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 65px;

    div:hover {
        text-decoration: underline;
    }

    div {
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
    }

    div.active {
        text-decoration: underline;
        font-weight: 600;
    }
}

.changelog {
    padding-top: 60px;
    text-align: left;

    .released {
        font-size: 14px;
        color: var(--text-grey);
    }

    color: rgba(255, 255, 255, 0.81);
    code:not([class*="language-"]) {
        background-color: rgba(74, 75, 76, 0.27);
    }

    h3 {
        margin-bottom: 3px;
    }
}

.box {
    flex: 1 1 50%;
    background: #0d0f14;
    box-shadow: 0 2px 0 0 rgba(255,102,42,0.56);
    border-radius: 3px;
    padding: 10px;
    padding-bottom: 30px;
    height: 100%;

    .inline-labels {
        display: none;
    }

    .getting-started {
        margin-top: 10px;
    }

    h4 {
        margin-top: 2px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        color: #FF662A;
    }

    p {
        font-size: 14px;
        letter-spacing: 0.5px;
        color: var(--text-grey);
        text-align: center;
    }

    div {
        font-size: 13px;
        color: #C6C3C3;
        letter-spacing: 0.7px;
        line-height: 19px;
        margin: 0;
        padding: 0;
    }
}

.box.desktop-app {
    flex-basis: 75%;
    margin-right: 15px;
}

@media(max-width: 550px) {
    .boxes {
        display: block;
    }

    .box {
        margin-bottom: 30px;
    }

    .box.desktop-app {
        flex-basis: unset;
        margin-right: unset;
    }
}
